body {
    background-color: orange; /* For browsers that do not support gradients */
  background-image: linear-gradient(orange 15%, yellow, brown); 
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    font-size: 13px;
    color: #061C37;
    display: grid;
    justify-content: center;
    background-color: #793C06;
}

a {
    text-decoration: none;    
 }

nav#page {
    margin-top: 44px;
    margin-bottom: 15px;;
    height: auto;
    position: relative;
    overflow: hidden;
    width: 670px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.topNaviagationLink>a{
color: black;
border-bottom: dashed 1px;
}
.topNaviagationLink>a:hover {
    color: white;
    background-color: #160306;
}
    

div.topNaviagationLink {
    text-align: center;
    position: relative;
    margin-top: 30px;
    font-size: 16px;
    margin-left: -10px;
    width: 121px;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #160306; 
}
a:-webkit-any-link {
    cursor: pointer;
}


section.picture {
    position:static;
    width: 650px;
    height: 325px;
    top: 10px;
    background-image: url(https://proyecto-sabana.vercel.app/assets/img/mainImage.jpg);
    background-repeat: no-repeat;
    border: 10px solid black;
}

#headerTitle {
    position: relative;
    top: 14px;
    left: 22px;
    font-size: 27px;
    color: #FFFFFF;
}

#headerSubtext {
    position: relative;
    top: 12px;
    left: 22px;
    font-size: 14px;
    color: #25060b;
}

.contentBox {
    margin-top: 10px;
    width: 650px;
    color:black;
    background-color:white;
    border:solid #160306 10px;
    padding-bottom: 20px;
}
.iguaal {
    color: brown;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
    padding-top: 18px;
    margin-left: 15px;
    margin-top: 15px;
}

p.contentBox.innerBox {
    position: relative;
    width: 650px;
    top: 10px;
    background-image: 
    background-color #FFFFFF;
    background-repeat: repeat-x;
}

.contentText {
    line-height: 24px;
    margin-left: 13px;
    margin-right: 13px;
}

blockquote {
    font-size: 12px;
    width: 400px;
    padding: 15px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: jpg;
    background-repeat: no-repeat;
    border: dashed 1px;
    border-color: #C87002;
}

#footer {
    text-align: center;
    padding-top: 30px;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    color: #C87002;
}